body{
background:#0a0f0d;
color:#00ff9c;
font-family: monospace;
margin:0;
}

header{
text-align:center;
padding:30px;
border-bottom:1px solid #00ff9c;
}

.logo{
font-size:32px;
}

.subtitle{
color:#9affc9;
}

nav a{
margin:10px;
color:#00ff9c;
text-decoration:none;
}

nav a:hover{
color:white;
}

.hero{
text-align:center;
padding:100px;
background:black;
}

section{
max-width:1000px;
margin:auto;
padding:50px 20px;
}

h2{
border-bottom:1px solid #00ff9c;
padding-bottom:10px;
}

.card-container{
display:flex;
gap:20px;
flex-wrap:wrap;
margin-top:20px;
}

.card{
border:1px solid #00ff9c;
padding:20px;
flex:1;
min-width:250px;
background:#020403;
}

footer{
text-align:center;
padding:20px;
border-top:1px solid #00ff9c;
margin-top:50px;
}
